* {
  font-family: sans-serif;
}

body {
  background: linear-gradient(to bottom, white, #c3c3c3);
}

header {
  text-align: center;
  font-weight: bold;
}

img {
  border-radius: 10px;
}

.title {
  font-size: 40px;
}

main {
  padding: 15px;
  border: 1px solid #1f1f1f;
}

h4 {
  text-decoration: underline;
  color: rgb(95, 93, 230);
}

section,
li,
ul,
h4 {
  font-family: "Lato", sans-serif;
}
