* {
  font-family: sans-serif;
}

header {
  text-align: center;
}

.title {
  text-decoration: underline;
  font-size: 40px;
}

main {
  padding: 15px;
  border: 1px solid #1f1f1f;
}

h4 {
  text-decoration: underline;
  color: rgb(95, 93, 230);
}
